.errorLabel {
    color: red;
}
.successLabel {
    color: blue;
}
span.bid-footer * {
    margin-right: 10px;
}
.button-align {
    display: flex;
        justify-content: flex-end;
}

.usd-align {
    display: flex;
        justify-content: flex-end;
        float: right;
}