@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Comfortaa', cursive;
}

main {
  min-height: 80vh;
}

.detail-bottom-margin {
  margin-bottom: 30px
}

.detail-image-margin {
  margin-right: 10px;
  margin-left: 10px;
}